/*https://github.com/viniciuscrp/zmk-config.git
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

#include <behaviors.dtsi>
#include <behaviors/anti_idle_mode.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/anti_idle_mode.h>
#include <locale/keys_pt_abnt2.h>

&mt { flavor = "tap-preferred"; };

&soft_off { hold-time-ms = <1000>; };

&sk { quick-release; };

&sl {
    ignore-modifiers;
    release-after-ms = <3000>;
};

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE PIPE SLASH BACKSLASH MINUS GRAVE SINGLE_QUOTE DOUBLE_QUOTES>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab_combo {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };
    };

    behaviors {
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&mo>, <&kp>;
        };
    };

    anti_idle {
        compatible = "zmk,anti-idle-generic";
        interval-ms = <30000>; // How often to send actions (ms)
        bindings = <&mmv MOVE_DOWN &mmv MOVE_UP>; // Actions to perform (move mouse down then up)
        tap_ms = <40>; // Duration of each action (ms)
        wait_ms = <200>; // Delay between actions (ms)
    }

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mo  1        &kp Q               &kp W         &kp E        &kp R        &kp T            &kp Y           &kp U         &kp I        &kp O    &kp P                      &kp DELETE
&kp  ESCAPE   &lt 2 A             &kp S         &mt LCTRL D  &mt LSHFT F  &kp G            &kp H           &mt LSHIFT J  &mt LCTRL K  &kp L    &lt 2 PT_SEMI              &kp ENTER
&kp  PT_BSLH  &mt LC(LS(LALT)) Z  &kp X         &kp C        &kp V        &kp B            &kp N           &kp M         &kp COMMA    &kp DOT  &mt LC(LS(LALT)) PT_SLASH  &kp RIGHT_SHIFT
                                  &kp LEFT_GUI  &caps_word   &lt 4 SPACE  &lt 3 BACKSPACE  &lt 5 CAPSLOCK  &kp LEFT_ALT 
            >;
        };

        MEDIA {
            bindings = <
&none  &none         &none         &none         &none         &none         &none         &kp C_BRIGHTNESS_DEC  &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC  &kp PRINTSCREEN  &none
&none  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 0  &none         &kp C_PREVIOUS        &kp C_VOLUME_DOWN  &kp C_NEXT            &none            &none
&none  &none         &none         &none         &none         &bt BT_CLR    &kp C_PP      &kp C_MUTE            &none              &none                 &out OUT_BLE     &out OUT_USB
                                   &none         &aim AIM_ON   &none         &aim AIM_OFF  &none                 &bt BT_CLR_ALL
            >;
        };

        SYMBOLS {
            bindings = <
&none  &kp LS(N1)    &kp LS(N2)    &kp LS(N3)        &kp LS(N4)    &kp LS(N5)    &kp PT_QMARK  &kp PT_EQUAL  &kp PT_SQT   &kp PT_DQT   &kp PT_PLUS   &none
&none  &kp PT_ACUTE  &kp PT_GRAVE  &kp PT_BSLH       &kp PT_PIPE   &kp PT_CARET  &kp LS(N8)    &kp PT_LPAR   &kp PT_LBRC  &kp PT_LBKT  &kp PT_MINUS  &none
&none  &none         &none         &kp PT_C_CEDILLA  &kp PT_COLON  &kp LS(N7)    &kp PT_TILDE  &kp PT_RPAR   &kp PT_RBRC  &kp PT_RBKT  &kp PT_UNDER  &none
                                   &none             &trans        &trans        &trans        &trans        &trans
            >;

            label = "SYM";
        };

        NAVIGATION {
            bindings = <
&trans  &none     &none     &none      &none      &none     &kp PG_UP      &kp LC(LEFT)    &kp UP_ARROW  &kp LC(RIGHT)  &none  &none
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none     &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &none  &none
&none   &none     &none     &none      &none      &none     &none          &kp HOME        &kp DEL       &kp END        &none  &trans
                            &none      &trans     &trans    &trans         &none           &none
            >;

            label = "NAV";
        };

        NUMBERS_FUNCTION {
            bindings = <
&none   &none  &kp F7  &kp F8  &kp F9  &kp F10            &none       &kp N7        &kp N8        &kp N9           &kp LS(EQUAL)   &none
&trans  &none  &kp F4  &kp F5  &kp F6  &kp F11            &kp LS(N8)  &mt LSHFT N4  &mt LCTRL N5  &mt LEFT_ALT N6  &mt LGUI MINUS  &none
&none   &none  &kp F1  &kp F2  &kp F3  &mt LC(F12) F12    &kp DOT     &kp N1        &kp N2        &kp N3           &kp FSLH        &trans
                       &none   &none   &trans             &trans      &kp NUMBER_0  &none
            >;

            label = "NUM_FUN";
        };

        MOUSE {
            bindings = <
&none  &none           &kp LC(W)     &none     &kp LC(LS(T))   &kp LC(T)          &none  &kp LA(LEFT)     &mmv MOVE_UP    &kp LA(RIGHT)    &none  &none
&none  &msc SCRL_LEFT  &mkp MB2      &mkp MB3  &mkp MB1        &msc SCRL_RIGHT    &none  &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &kp HOME        &msc SCRL_UP  &none     &msc SCRL_DOWN  &kp END            &none  &kp LC(LS(TAB))  &none           &kp LC(TAB)      &none  &none
                                     &none     &none           &kp LCTRL          &none  &none            &none
            >;

            label = "MOUSE";
        };
    };
};
